/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/IMG/The\ Arcade\ -\ Vaporwave.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }
  
  header {
    background-color: #555;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: space-around right;
    background-color: #444;
  }
  
  nav ul {
    max-width: 70px;
    max-height: 70px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    padding: 0px;
    
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 10px;
    margin: 10px;
  }
  
  nav a:hover {
    background-color: #555;
    border-radius: 10px;
  }
  
  img {
    width: 100%;
  }
  
  .top {
    color:red ;
    display: block;
  }
  #container {
    width: 300px;
    margin: 0 auto;
  }
  .item {
    margin-bottom: 10px;
  }